/* ROOT STYLE */

:root {
    --color-shop-shelf-back: rgb(39,33,27);
    --color-shop-shelf-front: rgb(130,102,73);

    --color-shop-background: rgb(234,223,215);

    --color-shop-info-purple: rgb(88,66,133);
    --color-shop-info-front: rgb(235,235,240);
    --color-shop-info-back: rgb(220,220,230);

    --color-shop-bg5: rgb(158,126,105);
    --color-shop-bg6: rgb(121,111,127);
    --color-shop-bg7: rgb(203,169,120);
    --color-shop-bg8: rgb(167,161,164);
    --color-shop-bg9: rgb(212,170,169);
    --color-shop-bg10: rgb(58,157,142);

    --color-bg-button: #8b69c4;
    --color-bg-footer: #917ac9;
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--color-shop-background);
}

body {
    font-family: 'montserrat', arial, helvetica;
    scrollbar-gutter: stable both-edges;
}

/* HEADER STYLE */

header {
    background-image: url('./img/town/RF5_Town_03_Restaurant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem;

    color: white;
    text-shadow: var(--color-bg-button) 0px 0px 12px;
    text-align: center;
}

header h1 {
    padding: 1rem;
    margin: 0px;
}

header p {
    padding: 3rem;
    margin: 0px;
}

/* NAV STYLE */

nav {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0px;
    list-style-type: none;

    display: flex;
    gap: 2rem;
}

li button[class^='tab'] {
    border: 0px;
    border-radius: 2rem;
    color: white;
    background-color: var(--color-bg-button);
    
    padding: 1rem 2rem;
    font-weight: bold;
}

li button[class^='tab']:hover {
    color: var(--color-bg-button);
    background-color: white;
}

/* MAIN STYLE */

main {
    color: white;
    background-color: var(--color-shop-shelf-front);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
}

h2, h3 {
    text-align: center;
}

/* div[class^='card'] {
    border: 4px solid red;
    border-radius: 1rem;
} */

.card-item-container {
    background-color: var(--color-shop-shelf-back);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(532px, 1fr));
    justify-items: center;
    align-items: center;
}

div.card-item {
    background-color: var(--color-shop-shelf-back);

    /* Images are 128x128 */
    display: grid;
    grid: 
        'img text' 164px
        'cost text' 1.75rem
        / 164px 328px;
    padding: 1rem;
}

@media (max-width: 650px) {
    .card-item-container {
        grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
    }

    div.card-item {
        grid: 
            'img' 164px
            'cost' 1.75rem
            / 164px;
        padding: 1rem;
    }

    div.card-item .card-item-name,
    div.card-item .card-item-desc {
        display: none;
    }
}


div.card-item .card-item-name {
    grid-area: text;

    background-color: var(--color-shop-info-purple);
    border-radius: 0.5rem;
    margin: 0rem 0rem 1rem 1rem;
    padding: 0.5rem 0.5rem;
}

div.card-item .card-item-desc {
    grid-area: text;

    color: black;
    background-color: var(--color-shop-info-back);
    border: 0.5rem solid var(--color-shop-info-front);
    border-radius: 0.5rem;
    margin: 0rem 0.5rem 2rem 1rem;

    position: relative;
    top: 2rem;
    left: 0.5rem;

    padding: 0.5rem 0.5rem;
}

div.card-item .card-item-cost {
    grid-area: cost;
    text-align: end;
    align-self: center;
    margin: 0px 0.5rem;
    padding: 0.25rem 0.5rem;

    border: 2px solid var(--color-shop-shelf-front);
    border-radius: 0.5rem;
}

div.card-item .card-item-img {
    grid-area: img;
    justify-self: center;
    align-self: center;

    border: 2px dashed var(--color-shop-shelf-front);
    border-radius: 0.5rem;
}

div.card-contact {
    display: grid;
}

/* FOOTER STYLE */

footer {
    background-color: var(--color-bg-footer);

    padding: 1rem;

    font-size: 0.75rem;
    text-align: center;
    color: white;
    overflow-wrap: break-word;
}

/* MISC STYLE */